@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Utilities */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: "Poppins";
}

body{
    min-height: 100vh;
    background-image: linear-gradient(to right,white,#c9b5e6);
    background-size:100%;
    background-repeat: no-repeat;

}


/* MAINCONTENT */

.title{
    margin-left: 20px;
    margin-top: 0px;
    text-align: center;
    font-size: 45px;
    color: black;
    animation: fadeIn 1s ease forwards;
}

.subpara{
    text-align: center;
    font-size: 17px;
    margin-top: -10px;
}

img{
    width: 270px;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow:3px 3px 5px #6021d6,
                 -3px -3px 5px #ffffff;
}

.desc{
    font-size: 18px;
    margin-bottom: 10px;
    color: black;
}

.container{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 250px;
    animation: fadeIn 1s ease forwards;
}

.template1,.template2{
    display: flex;
    position: relative;
    flex-flow: column nowrap;
    align-items: center;
    background-color: white;
    width: 320px;
    border-radius: 20px;
    box-shadow:3px 3px 10px #6021d6,
             -3px -3px 10px #ffffff;
}

.template1 a.button, .template2 a.button {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
}



.type{
    margin-top: 5px;
    font-size: 40px;
    margin-bottom: 10px;
    color: black;
}

.template1:hover,.template2:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
    box-shadow:3px 3px 30px #6021d6,
             -3px -3px 30px #ffffff;
}

.template1:not(hover),.template2:not(hover){
    transform: scale(1);
    transition-duration: 0.5s;
}

.template1:hover img,.template2:hover img{
    transition-duration: 0.5s;
    box-shadow:3px 3px 15px #6021d6,
             -3px -3px 15px #ffffff;
}

.template1:not(hover) img,.template2:not(hover) img{
    transition-duration: 0.5s;
}


/* BACK BUTTON */

.backbutton{
    position: fixed;
    top: 5px;
    left: 5px;
}

.backbtn {
    display: block;
    position: relative;
    width: 56px;
    height: 56px;
    margin: 0;
    overflow: hidden;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    border: 0;
  }
  
  .backbtn:before,
  .backbtn:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 7px;
  }
  
  .backbtn:before {
    border: 4px solid #7e58c4;
    transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
      transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
  }
  
  .backbtn:after {
    border: 4px solid #7e58c4;
    transform: scale(1.3);
    transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
      transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 0;
  }
  
  .backbtn:hover:before,
  .backbtn:focus:before {
    opacity: 0;
    transform: scale(0.7);
    transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
      transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  
  .backbtn:hover:after,
  .backbtn:focus:after {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
      transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
  }
  
  .button-box {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .button-elem {
    display: block;
    width: 20px;
    height: 20px;
    margin: 17px 18px 0 18px;
    transform: rotate(180deg);
    fill: #7e58c4;
  }
  
  .backbtn:hover .button-box,
  .backbtn:focus .button-box {
    transition: 0.4s;
    transform: translateX(-56px);
  }

