@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/* INITIALS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    background-color: bisque;
    background-image: linear-gradient(to right,white,#c9b5e6);
}

body{
    box-shadow:3px 3px 25px #6021d6,
    -3px -3px 25px #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 330px;
    margin-right: 330px;
    background-color: white;
}

.hr1{
    border: none;
    height:1.5px;
    width:400px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #c3c3c3; 
    background-color: #c3c3c3; 
}

/* HEADCONTENT */

header{
    padding-top: 30px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.name1,.name2{
    font-family: "Volkhov";
    font-size: 30px;
    text-transform: capitalize;
}

.name{
    display: flex;
    gap: 10px;
}

.name1,.name2{
  text-transform: capitalize;
}

.role{
    font-family: "Lato";
    font-size: 23px;
}

.contactlist{
    display: flex;
    font-family: "Lato";
    font-size: 16px;
    gap: 50px;
}

.contactlist .address{
  text-transform: capitalize;
}

.gitimg{
    width: 40px;
}

.linkedinimg{
    width: 30px;
}

.social{
    display: flex;
    flex-flow: column;
    list-style-type: none;
    font-family: "Lato";
    font-size: 16px;
    gap: 10px;
}

.social li{
    display: flex;
    gap: 5px;
    text-align: center;
    justify-content: center;
}

.social .githublink{
    margin-top: 10px;
}

.social .linkedinlink{
    margin-top: 8.5px;
}




/* MAIN */


.heading{
    margin-top: 30px;
    text-align: center;
    font-family: "Volkhov";
    font-size: 26px;
}

.hr2{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: gray;
    background-color: gray;
}

/* SUMMARY */

.summarycontent{
    margin-left: 40px;
    margin-right: 40px;
    text-align: justify;
    font-family: "Lato";
    word-wrap: break-word;
}

.summary .hr2{
    height: 2.5px;
}

/* SKILLS */

.skillslist{
    columns: 4;
    margin-left: 40px;
    list-style-type: none;
    font-family: "Lato";
    text-transform: capitalize;
}

.skills .hr2{
    height: 2.5px;
}


/* EDUCATION */

.educontent{
    font-family: "Lato";
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
}


.educontent2{
    font-size: 17px;
}

.educontent1{
    font-size: 20px;
    font-weight: 550;
}

.educontent1 .course{
    font-size: 18px;
    font-weight: normal;
}

.education .hr2{
    height: 2px;
}

/* CERTIFICATES */

.certificateslist{
    columns: 2;
    margin-left: 58px;
    font-family: "Lato";
}

.certificates .hr2{
    height: 2px;
}

/* INTREST */

.intrestlist{
    columns: 2;
    margin-left: 40px;
    list-style-type: none;
    font-family: "Lato";
}

.intresttitle{
    font-size: 20px;
}

.intrest .hr2{
    height: 2px;
}

/* LANGUAGES */

.languageslist{
    columns: 2;
    margin-left: 40px;
    font-family: "Lato";
    list-style-type: none;
}

.languages .hr2{
    height: 2.3px;
}

/* FOOTER */

footer{
    padding-bottom: 25px;
}


/* GENERATEBUTTON */
.download-btn {
    height: 45px;
    width: 95px;
    cursor: pointer;
    background: white;
    border: none;
    background: #8080ff;
    border-radius: 30px;
    overflow: hidden;
  }
  
  .button-content {
    transform: translateY(-45px);
    transition: all 250ms ease-in-out;
  }
  
  .svg-container,
  .text-container {
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .text-container .text {
    font-size: 13px;
    color: #fff;
    font-weight: 600;
    opacity: 1;
    transition: opacity ease-in-out 250ms;
  }
  
  .download-icon {
    height: 25px;
    width: 25px;
    fill: #fff;
    opacity: 0;
    transition: opacity ease-in-out 250ms;
  }
  
  /* hover state for the button */
  .download-btn:hover .button-content {
    transform: translateY(0px);
  }
  
  .download-btn:hover .text {
    opacity: 0;
  }
  
  .download-btn:hover .download-icon {
    opacity: 1;
  }
  
  .download-btn:focus .download-icon {
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    animation: heartbeat 1.5s ease-in-out infinite both;
  }
  
  @-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transform-origin: center center;
      transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
      transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
      transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
      transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
  }
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transform-origin: center center;
      transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
      transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
      transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
      transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
  }
  
  /* hover state for the button */
  
  
  .downloadbtn{
    position: fixed;
    top: 330px;
    left: 100px;
  }

  /* BACK BUTTON */

.backbutton{
  position: fixed;
  top: 5px;
  left: 5px;
}

.backbtn {
  display: block;
  position: relative;
  width: 56px;
  height: 56px;
  margin: 0;
  overflow: hidden;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

.backbtn:before,
.backbtn:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 7px;
}

.backbtn:before {
  border: 4px solid #7e58c4;
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.backbtn:after {
  border: 4px solid #7e58c4;
  transform: scale(1.3);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}

.backbtn:hover:before,
.backbtn:focus:before {
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.backbtn:hover:after,
.backbtn:focus:after {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.button-box {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.button-elem {
  display: block;
  width: 20px;
  height: 20px;
  margin: 17px 18px 0 18px;
  transform: rotate(180deg);
  fill: #7e58c4;
}

.backbtn:hover .button-box,
.backbtn:focus .button-box {
  transition: 0.4s;
  transform: translateX(-56px);
}