/* Utilities */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    background-color: #212738;
    /* overflow-y: hidden; */
}

/* Main tab */

.maintab{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    z-index: 1;
    position: sticky;
    top: 0;
}

.maintab ul{
    display: inline-flex;
    margin-right: 70px;
    list-style-type: none;
}

.maintab ul a{
    text-decoration: none;
    font-size: 19px;
    color: white;
}

.maintab h1{
    font-size: 28px;
    margin-left: 10px;
    color: white;
    text-transform: capitalize;
}



 .maintab .box {
    width: 140px;
    height: auto;
    float: left;
    transition: .5s linear;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    margin: 0 5px;
    background: transparent;
    text-transform: uppercase;
  }
  
  .maintab .box:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
  }
  
  .maintab .box:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
  }
  
  .maintab .box:hover {
    box-shadow: 0 5px 15px #535353;
  }
  
  .maintab .box:hover:before {
    border-color: #F97068;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
  }
  
  .maintab .box:hover:after {
    border-color: #F97068;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .5s;
  }
  
  .maintab .button {
    color: black;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
  }


/* LINKS */

.links {
    display: flex;
    position: fixed;
    top: 620px;
    left: 1380px;
    height: 70px;
    width: 270px;
  }
  
  .links svg {
    position: absolute;
    display: flex;
    width: 60%;
    height: 100%;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
    cursor: pointer;
  }
  
  .links .social-link1,.links .social-link2,.links .social-link3,.links .social-link4 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    color: whitesmoke;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
    border-radius: 50px;
  }
  
  .links svg {
    transform: scale(1);
  }
  
  .links .social-link1:hover {
    background-color: #1a1e22;
    animation: bounce_613 0.6s linear;
  }
  
  .links .social-link2:hover {
    background-color: #0a66c2;
    animation: bounce_613 0.6s linear;
  }
  
  .links .social-link3:hover {
    background-color: #0059f7;
    animation: bounce_613 0.6s linear;
  }
  
  .links .social-link4:hover {
    background-color: #1d4292;
    animation: bounce_613 0.6s linear;
  }
  
  @keyframes bounce_613 {
    40% {
      transform: scale(1.4);
    }
  
    60% {
      transform: scale(0.8);
    }
  
    80% {
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(1);
    }
  }



/* INTRODUCTION */

.intro{
    margin-top: 150px;
}

.introtext{
    font-size: 70px;
    margin-left: 150px;
    color: white;
}

.role{
    color: #0FA3B1;
    font-size: 80px;
    font-weight: bold;
    text-transform: uppercase;
}

.name1,.name2{
    color: #0FA3B1;
    font-size: 80px;
    font-weight: bold;
  text-transform: capitalize;
}


/* SUMMARY */

.summary{
    margin-top: 100vh;
    padding-top: 100px;
    padding-bottom: 200px;

}

.summaryheading{
    margin-left: 550px;
    font-size: 70px;
    font-weight: bold;
    color:#F97068;
}

.aboutmeunderline{
    margin-left: 550px;
    margin-right: 647px;
    margin-top: -5px;
    height: 5px;
    border: none;
    color: white;
    background-color: white;
    margin-bottom: 35px;
    text-align: justify;
}

.summarycontent img{
        float: right;
        margin-right: 70px;
        margin-left: 30px;
        width: 300px;
        border-radius: 50px;
        animation: fadeIn 1s ease-in-out forwards;
    }

.summarycontent{
    color: white;
    line-height: 35px;
    display: flex;
    flex-flow: row nowrap;
    width: 1200px;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    font-size: 24px;
}


/* SKILLS */


.skills{
  margin-top: 100vh;
  padding-top: 100px;
  padding-bottom: 200px;
}


.skillsheading{
  margin-left: 40px;
  font-size: 70px;
  font-weight: bold;
  color:#F97068;
}

.skillunderline{
  margin-left: 42px;
  margin-right: 1300px;
  margin-top: -5px;
  height: 5px;
  border: none;
  color: white;
  background-color: white;
}

.skilllist{
  padding-top: 20px;
  columns: 3;
  gap: 200px;
  list-style-type: none;
  margin-left: 100px;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
}

.skilllist li{
  padding-top: 50px;
  font-weight: bold;
  color: white;
  text-align: left;
}


/* CONTACTS */

.contact{
  margin-top: 100vh;
  padding-top: 100px;
  padding-bottom: 200px;
}


.contactheading{
  margin-left: 40px;
  font-size: 70px;
  font-weight: bold;
  color:#F97068;
}

.contactunderline{
  margin-left: 42px;
  margin-right: 1220px;
  margin-top: -5px;
  height: 5px;
  border: none;
  color: white;
  background-color: white;
}

.contactcontent{
  display: block;
  width: fit-content;
  margin-left: 40px;
  word-wrap: break-word;
  margin-right: 250px;
  padding-top: 20px;
  font-size: 50px;
  line-height: 65px;
  color: white;
}
.contactcontent .email{
  font-weight: bold;
  text-decoration: none;
  font-size: 53px;
  color: #0FA3B1;
}


/* WORKS */

.work{
    margin-top: 100vh;
    padding-top: 100px;
    padding-bottom: 200px;
  }
  
  
  .workheading{
    margin-left: 40px;
    font-size: 70px;
    font-weight: bold;
    color:#F97068;
  }
  
  .workunderline{
    margin-left: 42px;
    margin-right: 1155px;
    margin-top: -5px;
    height: 5px;
    border: none;
    color: white;
    background-color: white;
  }

  .workname{
    margin-top: 20px;
  }

  .workcontent{
    margin-left: 40px;
  word-wrap: break-word;
  padding-top: 20px;
  font-size: 30px;
  color: white;
  }

  .workcontent p{
    display: flex;
    margin-left: 40px;
    gap: 20px;
    padding-top: 10px;
  }

  .workcontent a{
    font-size: 25px;
    color: #0FA3B1;
  }

  .workcontent img{
    width: 30px;
  }

  .workcontent a:hover{
    font-size: 25px;
    color:#F97068;
  }

  /* DOWNLOAD */

.download-btn {
  height: 45px;
  width: 95px;
  cursor: pointer;
  background: white;
  border: none;
  background: #8080ff;
  border-radius: 30px;
  overflow: hidden;
}

.button-content {
  transform: translateY(-45px);
  transition: all 250ms ease-in-out;
}

.svg-container,
.text-container {
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container .text {
  font-size: 13px;
  color: #fff;
  font-weight: 600;
  opacity: 1;
  transition: opacity ease-in-out 250ms;
}

.download-icon {
  height: 25px;
  width: 25px;
  fill: #fff;
  opacity: 0;
  transition: opacity ease-in-out 250ms;
}

/* hover state for the button */
.download-btn:hover .button-content {
  transform: translateY(0px);
}

.download-btn:hover .text {
  opacity: 0;
}

.download-btn:hover .download-icon {
  opacity: 1;
}

.download-btn:focus .download-icon {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

/* hover state for the button */


.download{
  position: fixed;
  top: 640px;
  left:20px;
}