@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: "Poppins";
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


textarea{
    font-family: "Poppins";
}

h2 {
    position: fixed;
    font-size: 50px;
    margin-left: 620px;
    margin-top: 310px;
    transform: rotateZ(90deg);
}

.templateimg{
    position: fixed;
    width: 400px;
    top: 60px;
    left: 1000px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    box-shadow:3px 3px 50px #3b12c2,
               -3px -3px 10px #ffffff;
}

.selected{
    position: fixed;
    top: 600px;
    left: 995px;
    font-size: 30px;
}


form {
    width:490px;
    background-color: #fff;
    padding: 20px;
    margin-left: 120px;
    border-radius: 8px;
    margin-bottom: 50px;
    margin-top: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    box-shadow:3px 3px 50px #3b12c2,
               -3px -3px 10px #ffffff;
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

.btn {
    border: none;
    outline: none;
    border-radius: 15px;
    margin-top: 10px;
    padding: 1em;
    width: 460px;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
  }
  
  .btn:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow:3px 3px 10px #6021d6,
               -3px -3px 10px #ffffff;
  }




.addInput {
    display: block;
    margin-top: 5px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

input{
    animation: fadeIn 0.5s ease;
}



.addbtn {
    position: relative;
    padding: 10px 22px;
    border-radius: 20px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 15px;
    background-color: #7d2ae8;
    transition: all 0.2s ease;
    z-index: 1;
  }
  
  .addbtn:active {
    transform: scale(0.96);
  }
  
  .addbtn:before,
  .addbtn:after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
  }
  
  .addbtn:hover:before {
    top: -70%;
    background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
      10% 10%, 18% 18%;
    background-position: 50% 120%;
    animation: greentopBubbles 0.6s ease;
  }
  
  @keyframes greentopBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
        40% 90%, 55% 90%, 70% 90%;
    }
  
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
        50% 50%, 65% 20%, 90% 30%;
    }
  
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
        50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
  
  .addbtn:hover::after {
    bottom: -70%;
    background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    background-position: 50% 0%;
    animation: greenbottomBubbles 0.6s ease;
  }
  
  @keyframes greenbottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
        70% -10%, 70% 0%;
    }
  
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
        105% 0%;
    }
  
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
        110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }


  .submitbtn {
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 1px solid hsl(261deg 80% 48%);
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
    margin-left: 180px;
  }
  
  .submitbtn:hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
  }
  
  .submitbtn:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
  }
  
  /* Animation */

@keyframes fadeIn {
  from {
      opacity: 0; 
  }
  to {
      opacity: 1; 
  }
}

@keyframes slideDown {
  0%{
      transform: translateY(-100%);
  }
  100%{
      transform: translateY(0);
  }
  
}

@keyframes slideright {
  0%{
      transform: translateX(-100%);
  }
  100%{
      transform: translateX(0);
  }
  
}

/* BACK BUTTON */

.backbutton{
  position: fixed;
  top: 5px;
  left: 5px;
}

.backbtn {
  display: block;
  position: relative;
  width: 56px;
  height: 56px;
  margin: 0;
  overflow: hidden;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

.backbtn:before,
.backbtn:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 7px;
}

.backbtn:before {
  border: 4px solid #7e58c4;
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.backbtn:after {
  border: 4px solid #7e58c4;
  transform: scale(1.3);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}

.backbtn:hover:before,
.backbtn:focus:before {
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.backbtn:hover:after,
.backbtn:focus:after {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.button-box {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.button-elem {
  display: block;
  width: 20px;
  height: 20px;
  margin: 17px 18px 0 18px;
  transform: rotate(180deg);
  fill: #7e58c4;
}

.backbtn:hover .button-box,
.backbtn:focus .button-box {
  transition: 0.4s;
  transform: translateX(-56px);
}